<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :patient_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :patient_address %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.text_field :age, id: :patient_age %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :patient_phone %>
  </div>
  <div class="field">
    <%= form.label :clinic %>
    <%= form.text_field :clinic, id: :patient_clinic %>
  </div>

  <div class="field">
    <%= form.label :appointment %>
    <%= form.date_select :appointment, id: :patient_appointment %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :patient_time %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition, id: :patient_condition %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :patient_status %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments, id: :patient_comments %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
