Medicine result<br>
<%= @input1 %> is <%= @result %>
<hr>
<h1>Enter a number to check if it is Prime</h1>
<%= form_tag "/validate" do %>
<%= text_field_tag :search_string %>
<%= submit_tag "Check Medicine" %>
<% end %>