<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charge.name %>
</p>

<p>
  <strong>Consultation:</strong>
  <%= @charge.consultation %>
</p>

<p>
  <strong>Date:</strong>
  <%= @charge.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @charge.price %>
</p>

<p>
  <strong>Card:</strong>
  <%= @charge.card %>
</p>

<p>
  <strong>Lastdigits:</strong>
  <%= @charge.lastdigits %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
